/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: white;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}





nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: #6b7280;
    
}

nav a{
    text-decoration: none;
    color: #6b7280;
}

nav a:hover{
    color: #5A67D8;
}



.overview-hero{
    display: flex;
    background-color: #E2E8F0;
    max-width: 70%;
    margin: 0px auto;
    padding: 20px;
    align-items: center;
}

.overview-hero-image img{
    width: 200px;
    height: 200px;
    margin-right: 20px;

}

.overview-hero-text{
    flex: 1;
}

.learn-about .container{
    display: flex;
    flex-direction: column;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.learn-about h3{
    font-size: 21px;
    color: #48BB78;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 80%;
    padding: 20px;
    
   
}

.card img{
    width: 250px;
    height: 200px;
    padding: auto;
    

}

.card{
    
    height: auto;
    border-radius: 5px;
    border-width: 20px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-color: #E2E8F0;

}

.stories h2{
    color: #5A67D8;
}

.stories h3{
    font-size: 18px;
}

.stories a{
    color: #5A67D8;
}



.testing{
    background-color: #4A5568;
    max-width: 65%;
    color: white;
    justify-content: left;
    margin: 0 auto;
    padding: 80px;
    margin-bottom: 50px;
}

testing h2{
    margin-bottom: 20px;
}

testing p{
    margin-bottom: 30px;
}

.testing .btn{
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: medium;
    white-space: nowrap;
    padding: 10px 20px;
    background-color: #48BB78;
    margin-top: 35px;
    margin-left: 120px;
    
}


.stories .container{
    display: flex;
    flex-direction: column;
}

article img{
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 50%;
}

article a{
    text-decoration: none;
}

.newsletter .container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    background-color: #48BB78;
}

.newsletter p{
    white-space: nowrap;
}


.newsletter form{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.form-group input{
    padding: 20px;
    min-width: 50%;
    border-radius: 5px;
    border: 0;
}

form button{
    padding: 10px;
    margin-left: 5px;
    background-color: #5A67D8;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    min-width: 50%;
}

footer .container{
    padding: 5px;
    background-color: #4A5568;
    color: white;
    max-width: 1364px;
    margin-bottom: 10px;
}

footer p{
    margin-left: 150px;
}

